
nav{
  background: #ccc;
}

nav.navigation ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0px;
  width: 100%;
}
nav.navigation li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 60px;
  border-bottom: 1px solid #888;
}

nav.navigation a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

nav.navigation a:hover {
  background-color: #005f5f;
}

nav.navigation a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

@media screen and (min-width: 600px) {
  nav.navigation li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }

  /* Option 1 - Display Inline */
  nav.navigation li {
    display: inline-block;
    margin-right: -4px;
    width: auto;
    margin-left: 10px;
  }
