
/*Estilos de texto*/
p{ margin: 0 0 1em 0;}
a {color: #007eff;}
a:visited{color: #65;}


body{
  background-color: #3498db;
  margin: 0 0;
  overflow-x: hidden;
}

/* pagina principal*/
#page{
  margin: 0 auto;
  position: relative;

}

section.schedule{ /*Truco para limpiar los floats*/
  overflow: hidden;
  height: 1%;
  width: 100%;
}


/*Seccion de la tabla de materias*/
.subject-table{
  background-color: #ecf0f1;
  width: 70%;
  margin-left :1%;
  padding: 20px 20px;
  float: left;
}

.subject-table table thead th {
  background-color: #4caf50;
  color: white;
}

.subject-table table tbody tr td ul{
  padding: 0px;
  margin: 0px;
  min-height: 30px;
}
.subject-table table tbody tr td ul li{
  list-style-type: none;
  padding: 2px;
  background-color: rgba(189, 195, 199, 0.2);
  margin-top: 1px;
  margin-bottom: 1px;
  cursor: pointer;
  display: block;
}

.subject-table table tbody tr td ul li:hover{
  background-color: #bdc3c7;
  border-left-style:solid;
  border-left: thick solid #ff0000;
}

#TablaHorario{
  border: 1px solid #7f8c8d;
  border-collapse: collapse;
}


/* seccion de la lista de materias*/
.subject-list{
  background-color: #ecf0f1;
  width: 20%;
  height: auto;
  padding: 20px 20px;
  margin-left: 1%;
  float: left;
  clear: right;
  height: auto;;
}

#Horario{
  background-color:#4caf50;
  color: white;
  font-weight: bold;
}


.subject-list h1{
  background-color: #4caf50;
  color: white;
}

.subject-list ul{
  padding: 0px;
  margin: 0px;
  min-height: 40px;

}
.subject-list ul li{
  list-style: none;
 background: #4caf50;
 color: #fff;
 height: 0;
 line-height: 2em;
 margin: 0;
 padding: 0 0.5em;
 overflow: hidden;
 width: 80%;
 height: 2em;
 margin: 2px 0;

}

.subject-list ul li:hover{
  background-color: rgba(76, 175, 80, 1);;
  border-left-style:solid;
  border-left: thick solid #2980b9;
}




/*Seccion del formulario*/
.Query-formulary{
  background-color: #4caf50 ;
  width: 100%;
  height: 430px;
  padding: 10px;
  margin-top: 5px;

}
